.slider 
    display: flex 
    overflow: hidden
    margin-top: 59px
    margin-bottom: 35px

.slide
    flex-shrink: 0
    width: 33.33%
    padding: 15px

.avatar 
    +box(90px)
    border-radius: 50% 
    object-fit: cover 
    background-color: #e6e6e6
    margin: 0 auto 
    display: block

.arrow 
    +box(40px)
    svg
        fill: #b3b3b3
        transition: all 0.3s ease
        +box(100%)
    &-prev
        margin-right: 15px
        transform: scaleX(-1)
    &-next
        margin-left: 15px
    &:hover svg 
        fill: $gold
