header.header
    .container 
        .flex-center-between
            a.logo(href="#") 
                img.logo-icon(src="img/logo/logo-icon.png", alt="icon logo")
                span.logo-name personal 
                    span.d-block Lawyer

                
            nav.navmenu 
                ul.menu 
                    each val in ['Your Rights','How It Works ','FAQ','Reviews','Contact Us']
                        li.menu-item 
                            a.menu-link(href="#")=val
            .align-items-center
                a.btn-phone(href="tel:2031234567") 
                    +icon("phone")
                    span 
                        span.btn-phone_text CALL NOW
                        span.btn-phone_number 203-123-4567
                button.burger 
                    span.burger-line.burger-line-top
                    span.burger-line.burger-line-center
                    span.burger-line.burger-line-bottom

