@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
 

@media only screen and (min-width : 576px)
    // .flex-sm-center-between 
    //     +d-flex(space-between,center)
    // .d-sm-inline
    //     display: inline
    // .d-sm-none
    //     display: none
    // .d-sm-block
    //     display: block
    // .ml-sm-30
    //     margin-left: 30px
    // .align-items-sm-center
    //     display: flex 
    //     align-items: center
    // .mb-sm-0
    //     margin-top: 0

@media only screen and (min-width : 768px)   
    // .burger 
    //     display: none
    // .d-md-block 
    //     display: block
    // .d-md-none
    //     display: none
    // .d-md-flex 
    //     display: flex
    // .btns 
    //     display: flex
    //     justify-content: flex-end
    //     flex-direction: row
    //     width: 50%
    // .ml-md-20 
    //     margin-left: 20px
    // .justify-md-content-between
    //     display: flex
    //     justify-content: space-between


@media only screen and (min-width : 992px)
    // .d-lg-none 
    //     display: none
    .d-lg-block
        display: block
    .d-lg-flex 
        display: flex
    .w-lg-50 
        width: 50%
    .pr-lg-15 
        padding-right: 15px 
    .pl-lg-15
        padding-left: 15px

@media only screen and (max-width : 991px)
    .container 
        max-width: 570px
    .navmenu, .logo-name
        display: none 
    .first-left
        padding-top: 0
        margin: 0 auto
        max-width: 540px
    .forms 
        margin: 40px auto 0
    .card
        width: 100% 
        margin-right: 0
    .item 
        width: 33.33%
    .card img
        height: 350px
    .card-faq
        width: 100% 
        margin-right: 0
    .slide
        width: 50%
    .seventh-left
        padding-top: 0
        margin-bottom: 40px
@media only screen and (max-width : 575px)
    .item 
        width: 50%
        margin: 25px 0 0 0
    .slide
        width: 100%
    h1, .title1
        font-size: 40px
        line-height: 40px
    .fs-26
        font-size: 22px
        line-height: 24px
    .fs-40
        font-size: 29px
    .tab
        padding: 20px 15px
    .tab:before
        left: 15px
        width: 80px
    .form-container
        padding: 0 15px 30px
    .fs-30
        font-size: 23px
        line-height: 22px
    .fs-20
        font-size: 14px
        line-height: 20px


    
  