@import "utils/libs"
@import "utils/vars"
@import "utils/mixins"
@import "utils/fonts"
@import "utils/sprite"
@import "utils/base"

  
.container 
  max-width: $desktop
  width: 100% 
  margin: 0 auto 
  padding: 0 15px

h1, .title1 
  font-size: 60px
  line-height: 60px
  font-weight: 700
  text-transform: uppercase

h2, .title2
  font-size: 30px
  line-height: 1.2
  font-weight: 700
  text-transform: uppercase

hr
  +box(100%,1px)
  background-color: $bg-white-100
  margin: 20px 0

hr.line-gold
  height: 4px
  background-color: $bg-gold
  width: 80px
  &_big
    width: 160px
    margin: 50px 0
  &_small
    +box(50px,3px)

.line-vertical
  +box(1px,41px)
  background-color: rgba(#e6e6e6, 0.2)

.check
  +box(14px)
  border: 1px solid $white-100
  border-radius: 2px
  display: block
  background: $bg-white
  margin-right: 10px
  flex-shrink: 0
  svg 
    +box(78%, 100%)
    display: block
    margin: 0 auto

.checkbox
  display: none 
  &:checked ~ .check
    background-color: $bg-gold
    border-color: $gold
    background-image: url("../img/common/check.svg")

.count-word
  font-size: 12px
  line-height: 1
  font-weight: 400
  color: $gray
  margin-top: 8px
  text-align: right

.name
  position: absolute 
  left: 0 
  top: 30px
  font-size: 14px
  pointer-events: none
  line-height: 1
  font-weight: 400
  color: $gray
  transition: all 0.3s ease

svg.icon-input
  position: absolute
  top: 0
  right: 0
  fill: #e6e6e6
  +box(20px,100%)
  
input, textarea
  &:focus ~ .name, &:valid ~ .name
    font-size: 12px
    top: 15px 

.max-726
  max-width: 726px
  margin: 0 auto

.max-190
  max-width: 190px
  margin: 0 auto

@import "modules/modules"

.wh-42
  +box(42px)
  
.d-none
  display: none

.relative
  position: relative

@import "utils/media"