footer.footer
    .container 
        .flex-center-center 
            a.logo-footer(href="#") 
                img(src="img/logo/", alt="logo")
            .lihe-vertical.mx-35
            p.c-white-200 © Consumer Attorneys LLP