footer.footer
    .container 
        .flex-center-center.flex-sm-row.flex-column 
            a.logo-footer(href="#") 
                img(src="img/logo/logo-name.svg", alt="logo")
            .line-vertical.mx-35
            p.c-white-200 © Consumer Attorneys LLP